<section class="notFound nav-margin">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-12">
        <div class="notFound-container">
          <div>
            <img src="../../../../assets/imgs/404.svg">
          </div>
          <p class="medium gray s-mt-4">{{ "Not-found.title" | translate }}</p>
          <button type="submit" class=" primary-btn" [routerLink]="['/products/shop']">
            {{ "Not-found.Back" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
