<section class="verify-success auth nav-margin">
  <div class="verify-success">
    <div class="verify-success__img-container">
      <img
        src="assets/imgs/verify success/illustration.png"
        alt="verify-success__img"
        class="verify-success__img d-flex justify-content-center"
      />
    </div>
    <h2 class="verify-success__title d-flex justify-content-center">
      {{ "Verify-success.success" | translate }}
    </h2>
    <p class="verify-success__text d-flex justify-content-center">
      {{ "Verify-success.success-text" | translate }}
    </p>
    <button
      class="primary-btn d-flex justify-content-center"
      (click)="goToHome()"
    >
      {{ "Verify-success.success-button" | translate }}
    </button>
  </div>
</section>
