<div *ngIf="isLoading" class="text-center"><app-loading-screen></app-loading-screen></div>
<div class="no-results" *ngIf="listToDisplay.length === 0">
  <h6 class="no-results-text">{{ "Courses.avalible" | translate }}</h6>
</div>
<section class="course-list-section nav-margin nav-padding" *ngIf="!isLoading && listToDisplay.length !== 0">
  <div class="container-fluid">
    <div class="list-header">
      <h1> List of courses </h1>
      <h4>{{ listToDisplay.length | translate }} Courses</h4>
    </div>
    <!-- Add space between headers and course cards -->
    <div class="row mt-4">
      <div class="col-md-12 col-xl-6 mb-4" *ngFor="let list of listToDisplay">
        <!-- Wrap the entire card in an anchor tag -->
        <a [routerLink]="['/courses', 'details', list.id]" class="list-card-link">
          <div class="list-card d-flex flex-column flex-md-row">
            <div class="list-image" [ngStyle]="{ 'background-image': 'url(' + list.image + ')' }"></div>
            <div class="list-content p-3 d-flex flex-column">
              <h3 class="list-title">{{ list.title | translate}}</h3>

              <span class="regular gray">
                <strong>{{ list.instructor_position }} {{ list.instructor_name }}</strong>
              </span>
               <!-- <h5 class="semi-bold black py-2">
                {{ list.instructor_name }}
              </h5> -->
              <p class="list-description">{{ list.description | translate }}</p>
              <div class="list-info mt-auto">
                <span class="regular gray py-2"
                >{{ list.level }} {{ "Courses.Level" | translate }}
              </span>
                <!-- <span class="info-item"><strong> Course Duration :</strong> {{ list.duration }} h</span> -->
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

