@import "../../../../assets//styles/base/variables.scss";

.course-list-section {
  padding: 30px;
}

// Header Styling
.list-header {
  margin-bottom: 20px; /* Add margin to create space between headers and cards */
  
  h2 {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 1.2em;
    color: gray;
  }
}

// Course Card Styling
.list-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:hover {
    transform: translateY(-5px);

    .list-title {
      color: #007bff; /* Highlight the title on hover */
    }
  }
}

.list-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  flex-basis: 35%;
}

.list-content {
  flex-basis: 65%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.list-title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0.2s ease;
}

.list-description {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.list-info {
  font-size: 1em;
  color: #666;
  margin-top: auto; /* Push duration to the bottom */
}

.info-item {
  display: block;
  margin-bottom: 5px;
}

// Remove button as we are making the entire card clickable
.list-card-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none; /* Remove underline on hover */
  }
}

// Loading and No Results Styling
.not-available {
  @include flexCenter;
  height: 100vh;
}

// Additional Course Info Styling
.Courses-list {
  .img-container {
    min-height: 40vh;
  }
}

.course-info {
  svg {
    width: 1.5vw;
    margin-right: 0.3rem;
  }

  span {
    font-size: clamp(9px, 0.78125VW, 11px) !important;
  }
}

// Responsive Styling
@media only screen and (max-width: 767px) {
  .course-info {
    svg {
      width: 4.5vw;
    }
  }

  .course-title {
    margin: 2vw 0 !important;
  }
}
