<section class="nav-margin">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-8 ">
        <div class="terms">
          <h4 class="regular gray s-mt-1">{{"Terms.agreement" | translate}}</h4>
          <h2 class="red bold s-mt-1 title">

            {{"Terms.terms" | translate}} </h2>

          <ul>
            <li class="s-mt-1">
              <p class="bold black">{{"Terms.t1" | translate}}</p>
              <p class="regular black">{{"Terms.p1" | translate}}
                <span class="bold important-title">
                  {{"Terms.p2" | translate}}
                </span><br>
                {{"Terms.p3" | translate}}

              </p>
            </li>
            <li class="s-mt-1">
              <p class="bold black title">{{"Terms.t2" | translate}}<br>
              </p>
              <p class="regular black">
                {{"Terms.p4" | translate}}
              </p>
            </li>
            <li class="s-mt-1">
              <p class="blod black title">{{"Terms.t3" | translate}}</p>
              <p class="regular black">
                {{"Terms.p5" | translate}}

              </p>

            </li>
            <li class="s-mt-1">
              <p class="bold black title">
                {{"Terms.t4" | translate}}

              </p>
              <p class="regular black">
                {{"Terms.p6" | translate}}

              </p>
              <ul class="list-inside">
                <li>
                  <p class="regular black">
                    {{"Terms.p7" | translate}}

                  </p>
                </li>
                <li>
                  <p class="regular black">
                    {{"Terms.p8" | translate}}
                </li>
                <li>
                  <p class="regular black">
                    {{"Terms.p9" | translate}}

                  </p>
                </li>
                <li>
                  <p class="regular black">
                    {{"Terms.p10" | translate}}

                  </p>
                </li>
                <li>
                  <p class="regular black">
                    {{"Terms.p11" | translate}}

                  </p>
                </li>
                <li>
                  <p class="regular black">
                    {{"Terms.p12" | translate}}
                  </p>
                </li>

              </ul>
            </li>
            <li class="s-mt-1">
              <p class="bold black title"> {{"Terms.t5" | translate}}
              </p>
              <p class="regular black">
                {{"Terms.p13" | translate}}

              </p>

            </li>
            <li class="s-mt-1">
              <p class="bold black title ">
                {{"Terms.t6" | translate}}

              </p>
              <p class="regular black ">
                {{"Terms.p14" | translate}}

              </p>
            </li>

            <li class="s-mt-1">
              <p class="bold black title">
                {{"Terms.t7" | translate}}

              </p>
              <p class="regular black ">
                {{"Terms.p15" | translate}}
                <span class="bold important-title">
                  {{"Terms.p16" | translate}}

                </span>
                {{"Terms.p17" | translate}}


              </p>
            </li>
            <li class="s-mt-1">
              <p class="bold black title"> {{"Terms.t8" | translate}}
              </p>
              <p class="regular black ">
                {{"Terms.p18" | translate}}

              </p>
            </li>
            <li class="s-mt-1">
              <p class="bold black title">
                {{"Terms.t9" | translate}}

              </p>
              <p class="regular black ">
                {{"Terms.p19" | translate}}

              </p>
            </li>
            <li class="s-mt-1">
              <p class="bold black title">
                {{"Terms.t10" | translate}}
                
              </p>
              <p class="regular black ">
                {{"Terms.p21" | translate}}
               
              </p>
            </li>
            <li class="s-mt-1">
              <p class="bold black title ">
                {{"Terms.t11" | translate}}

              </p>
              <p class="regular black ">
                {{"Terms.p22" | translate}}

              </p>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</section>
