<div *ngIf="isLoading">
  <app-loading-screen></app-loading-screen>
</div>

<section class="devices nav-margin" *ngIf="!isLoading">
  <div class="section-header">
  <img [src]="imgUrl + data.image" alt="Header Image" class="header-img">
  </div>  

  <div class="container-fluid">
    <div class="products">
      <div class="row">
        <div class="col-lg-3 col-6" *ngFor="let product of products">
          <app-product-item
            *ngIf="
              productsList &&
              productsList[product.type] &&
              productsList[product.type].results[product.id];
              else currentProd
            "
            [product]="productsList[product.type].results[product.id]"
            [showPercentage]="product.sale_percentage !== null"
          ></app-product-item>
          <ng-template #currentProd>
            <app-product-item [product]="product" [showPercentage]="product.sale_percentage !== null"></app-product-item>
          </ng-template>
        </div>
      </div>
    </div>


    

    <div *ngIf="PaginateisLoading">
      <app-loading-screen></app-loading-screen>
    </div>

    <div
      infinite-scroll
      (scrolled)="loadMoreItems()"
      [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="0"
      *ngIf="!isLoading"
    >
    </div>
  </div>
</section>
