<span *ngIf="isLoading">
  <app-loading-screen></app-loading-screen>
</span>
<section *ngIf="!isLoading">
  <section class="home-page">
    <div class="img-container-header">
      <!-- <ng-container *ngIf="isMobile">
      <a class="a-nav">
        <div class="search-container-home">
          <input
            type="search"
            placeholder="{{ 'Header.Search' | translate }}"
            #searchedInput
            class="search-input"
            (input)="searchAction(searchedInput.value)"
          />

          <span
            class="search-icon d-flex justify-content-between align-items-center gray px-1 w-20"
            (click)="openSearch()"
            *ngIf="isMobile"
          >
            <img src="../../../../assets/imgs/search.svg" />
          </span>
        </div>
      </a>
    </ng-container> -->
      <swiper [config]="MYSwiper" class="mySwiper">
        <ng-template swiperSlide *ngFor="let item of homeContent.Home_Swiper">
          <div class="slider-container" (click)="routeForLink(item.link)">
            <div *ngIf="!isMobile">
              <div
                class="header-container"
                *ngIf="!item.is_video"
                [ngStyle]="{
                  'background-image': 'url(' + imageUrl + item.media + ')'
                }"
              ></div>
              <div class="header-container" *ngIf="item.is_video">
                <video
                  loop
                  [muted]="true"
                  autoplay="true"
                  playsInline
                  onloadedmetadata="this.muted = true"
                >
                  <source [src]="imageUrl + item.media" type="video/mp4" />
                </video>
              </div>
            </div>
            <div *ngIf="isMobile">
              <div
                class="header-container"
                *ngIf="!item.is_video"
                [ngStyle]="{
                  'background-image':
                    'url(' + imageUrl + item.mobile_view_media + ')'
                }"
              ></div>
              <div class="header-container" *ngIf="item.is_video">
                <video
                  loop
                  [muted]="true"
                  autoplay="true"
                  playsInline
                  onloadedmetadata="this.muted = true"
                >
                  <source
                    [src]="imageUrl + item.mobile_view_media"
                    type="video/mp4"
                  />
                </video>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>      
    </div>
    <!-- starting product section -->
    <div class="container-fluid">
      <div class="home">
        <div class="product-container s-mt-2">
          <div class="row">
            <div class="section-title my-4">
              <h3
              (click)="navigateToProducts()"
              class="clickable-title"
              title="Click to view products"
              style="cursor: pointer; color: #e4021b;"
              onmouseover="this.style.color='black';"
              onmouseout="this.style.color='red';"
            >{{ "Home.Popular Products" | translate }}</h3>
              <h5>{{ "Home.text" | translate }}</h5>
            </div>

            <div class="mobile-veiw-slider my-3">
              <!-- product from here -->
              <swiper
                [autoplay]="{
                  delay: 3000,
                  disableOnInteraction: false
                }"
                [config]="option"
                class="swiper-wrapper"
              >
                <ng-template
                  swiperSlide
                  *ngFor="let product of homeContent.Popular_Products"
                  ><div>
                    <!-- Wrap the entire product item in an anchor tag -->
                    <a [routerLink]="['/products/details', product.type, product.id]" class="product-link" style="text-decoration: none; color: inherit;">
                    <app-product-item
                      *ngIf="
                        productsList &&
                          productsList[product.type] &&
                          productsList[product.type].results[product.id];
                        else currentProdResponsive
                      "
                      [product]="productsList[product.type].results[product.id]"
                    ></app-product-item>
                    </a>
                  </div>
                  <ng-template #currentProdResponsive>
                    <div>
                      <app-product-item [product]="product"
                      ></app-product-item>
                    </div>
                  </ng-template>
                </ng-template>
              </swiper>

              <!-- to here -->
            </div>
            <!-- <div
              class="d-flex justify-content-center align-items-center s-mb-1 s-mt-2"
            >
              <a class="regular red view-all-btn" routerLink="./products/shop"
                >{{ "Home.View all" | translate }}
              </a>
            </div> -->
          </div>
          <!-- end of product section -->
        </div>
      </div>
    </div>
  </section>
<!-- starting category section -->
  <div class="categories">
    <div class="section-title text-center s-mb-2 my-4">
      <h3 
      (click)="navigateToCategories()"
      class="clickable-title"
      title="Click to view products"
      style="cursor: pointer; color: #e4021b;"
      onmouseover="this.style.color='black';"
      onmouseout="this.style.color='red';"
      class="bold">{{ "Products.Branches" | translate }}</h3>
    </div>
    <div class="container-fluid">
      <div class="row s-mt-2">
        <ng-container *ngIf="!isMobile">
          <div
            class="col-lg-4 col-12 s-mt-2"
            *ngFor="let details of types; let index = index"
          >
            <div class="hover" routerLink="/products/{{ details.id }}">
              <div class="img-hover">
                <div
                  class="img-container d-flex align-items-end justify-content-center"
                  [ngStyle]="{
                    'background-image': 'url(' + details.image + ')'
                  }"
                >
                  <button class="primary-btn">
                    {{ "Header.shop" | translate }}
                  </button>
                </div>
                <div class="layout-hover"></div>
              </div>

              <div class="img-hover">
                <div
                  class="img-container-hover align-items-end justify-content-center"
                  [ngStyle]="{
                    'background-image': 'url(' + details.image + ')'
                  }"
                >
                  <div
                    class="d-flex flex-column justify-content-between text-cont"
                  >
                    <h3 class="bold black">{{ details.name }}</h3>
                    <button
                      class="primary-btn"
                      routerLink="/products/{{ details.id }}"
                    >
                      {{ "Header.shop" | translate }}
                    </button>
                  </div>
                </div>
                <div class="layout-hover"></div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isMobile">
          <swiper
            [autoplay]="{
              delay: 1000,
              disableOnInteraction: false
            }"
            [config]="optionCategories"
            class="swiper-wrapper"
          >
            <ng-template
              swiperSlide
              *ngFor="let details of types; let index = index"
            >
              <div class="hover" routerLink="/products/{{ details.id }}">
                <div class="img-hover">
                  <div
                    class="img-container d-flex align-items-end justify-content-center"
                    [ngStyle]="{
                      'background-image': 'url(' + details.image + ')'
                    }"
                  >
                    <div
                      class="d-flex flex-column justify-content-between text-cont"
                    >
                      <h6 class="bold black">{{ details.name }}</h6>
                      <button
                        class="primary-btn"
                        routerLink="/products/{{ details.id }}"
                      >
                        {{ "Header.shop" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </swiper>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- end category section -->
  <section class="aticles-background s-mt-4">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-6 my-4">
          <div class="section-title s-mt-2">
            <h3 (click)="navigateToArticles()"
            title="Click to view products"
            style="cursor: pointer; color: #e4021b;"
            onmouseover="this.style.color='black';"
            onmouseout="this.style.color='red';"
            class="centerd">
            {{ "Home.Articles" | translate }}</h3>
            <h5 class="centerd">{{ "Home.text" | translate }}.</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <ng-container *ngIf="!isMobile">
          <div
            class="col-xl-4 col-md-6 s-mt-1"
            *ngFor="let articles of homeContent.Latest_Articles"
          >
            <app-article-item
              [isMobile]="false"
              routerLink="articles/article-details/{{ articles.id }}"
              [article]="articles"
            >
            </app-article-item>
          </div>
        </ng-container>
        <!-- Mobile Screen: Swiper for Articles -->
      <ng-container *ngIf="isMobile">
        <swiper [config]="optionArticles" class="swiper-wrapper">
          <ng-template swiperSlide *ngFor="let articles of homeContent.Latest_Articles">
            <app-article-item
              [isMobile]="true"
              routerLink="articles/article-details/{{ articles.id }}"
              [article]="articles">
            </app-article-item>
          </ng-template>
        </swiper>
      </ng-container>
        <!-- <ng-container *ngIf="isMobile">
          <swiper
            [autoplay]="{
              delay: 1200,
              disableOnInteraction: false
            }"
            [config]="optionArticles"
            class="swiper-wrapper"
          >
            <ng-template
              swiperSlide
              *ngFor="let articles of homeContent.Latest_Articles"
            >
              <app-article-item
                [isMobile]="true"
                routerLink="articles/article-details/{{ articles.id }}"
                [article]="articles"
              >
              </app-article-item>
            </ng-template>
          </swiper>
        </ng-container> -->
       
        <!-- <div class="d-flex justify-content-center align-items-center s-mb-1">
          <a class="regular red view-all-btn" routerLink="./articles"
            >{{ "Home.View all" | translate }}
          </a>
        </div> -->
      </div>
    </div>
  </section>

  <div class="about-us">
    <div class="section-title text-center s-mt-2">
      <h3 
        (click)="navigateToWhyKMC()"
        class="clickable-title"
        title="Click to view products"
        style="cursor: pointer; color: #e4021b;"
        onmouseover="this.style.color='black';"
        onmouseout="this.style.color='red';"
        >
        {{ "Footer.WhyKMC" | translate }}
      </h3>
    </div>
    <div class="container-fluid">
      <div class="row d-flex align-items-center justify-content-between">
        <ng-container *ngIf="!isMobile">
          <div class="col-lg-5 orderTwo">
            <div class="description-container">
              <h5 class="gray medium decsription black">
                {{ homeContent.home_details.about_us_1_caption }}
              </h5>
              <h6>
                {{ homeContent.home_details.about_us_2_caption }}
              </h6>
            </div>
          </div>
          <div class="col-lg-6 orderOne">
            <div class="row">
              <div class="col-md-12 s-mt-2">
                <div
                  class="img-container"
                  [ngStyle]="{
                    'background-image':
                      'url(' +
                      imageUrl +
                      homeContent.home_details.about_us_1_image +
                      ')'
                  }"
                ></div>
              </div>
              <!-- <div class="col-md-6 s-mt-2">
                <div
                  class="img-container"
                  [ngStyle]="{
                    'background-image':
                      'url(' +
                      imgUrl +
                      homeContent.home_details.about_us_2_image +
                      ')'
                  }"
                ></div>
              </div> -->
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isMobile">
          <div class="col-12 my-2">
            <div class="d-flex flex-column">
              <h5 class="gray medium decsription black">
                {{ homeContent.home_details.about_us_1_caption }}
              </h5>
              <div
                class="img-container"
                [ngStyle]="{
                  'background-image':
                    'url(' +
                    imageUrl +
                    homeContent.home_details.about_us_1_image +
                    ')'
                }"
              ></div>
            </div>
          </div>
          <div class="col-12 my-2">
            <!-- <div
              class="img-container"
              [ngStyle]="{
                'background-image':
                  'url(' +
                  imgUrl +
                  homeContent.home_details.about_us_2_image +
                  ')'
              }"
            ></div> -->
            <h6>
              <span class="d-block mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14.732"
                  height="11.785"
                  viewBox="140.001 3300 14.732 11.785"
                >
                  <path
                    d="M140.001 3305.892v5.893h5.893v-5.893h-2.946s0-2.946 2.946-2.946V3300s-5.893 0-5.893 5.892Zm14.733-2.946V3300s-5.893 0-5.893 5.892v5.893h5.893v-5.893h-2.947s0-2.946 2.947-2.946Z"
                    fill="#e4021b"
                    fill-rule="evenodd"
                    data-name="Icon metro-quote"
                  />
                </svg>
              </span>
              {{ homeContent.home_details.about_us_2_caption }}
              <span class="d-flex justify-content-end mt-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14.734"
                  height="11.786"
                  viewBox="790.8 3385.921 14.734 11.786"
                >
                  <path
                    d="M805.534 3391.814v-5.893h-5.893v5.893h2.946s0 2.947-2.946 2.947v2.946s5.893 0 5.893-5.893Zm-14.734 2.947v2.946s5.894 0 5.894-5.893v-5.893H790.8v5.893h2.947s0 2.947-2.947 2.947Z"
                    fill="#e4021b"
                    fill-rule="evenodd"
                    data-name="Icon metro-quote"
                  />
                </svg>
              </span>
            </h6>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div [ngClass]="{ 'cookie-banner-none': !cookies, 'cookie-banner': cookies }">
    <p class="regular white">
      {{ "Home.cookies" | translate }}
    </p>
    <button
      type="button"
      class="btn-close btn-close-white bold"
      aria-label="Close"
      (click)="cookienotApper()"
    ></button>
  </div>
</section>
