<div *ngIf="isLoading">
  <app-loading-screen></app-loading-screen>
</div>

<section class="nav-margin" *ngIf="!isLoading">
  <div
    class="section-header"
    [ngStyle]="{
      'background-image': 'url(' + header.category_details_image + ')'
    }"
  >
    <div class="layout"></div>
    <h2>{{ header.name }}</h2>
  </div>
</section>
<div class="devices-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 s-mt-2 s-mb-1">
        <div class="filter-fixed">
          <div class="fliters-container">
            <div
              class="filter-header d-flex justify-content-between align-items-center my-3"
            >
              <span class="medium">{{
                "Products.Filters" | translate
              }}</span>
              <span class="gray medium clear" (click)="resetFilters()">{{
                "Products.Clear_All" | translate
              }}</span>
            </div>
            <ul class="filters">
              <!-- Parent Accordion for Branches -->
              <li
                *ngFor="let branch of branches; let i = index"
                [class.uk-open]="isExpanded('branch-' + i)"
              >
                <a
                  class="uk-accordion-title medium main Branches-title"
                  role="button"
                  (click)="toggleAccordion($event, 'branch-' + i)"
                >
                  {{ "Shop.Branches" | translate }}
                </a>
            
                <!-- Branch Content Visibility -->
                <div class="uk-accordion-content" [class.hidden]="!isContentVisible('branch-' + i)">
                  <!-- Nested Accordion for Sub Branches -->
                  <ul class="nested-filters">
                    <li
                      class="branches"
                      *ngFor="let sub of branch.branch_sub_branches; let j = index"
                      [class.uk-open]="isExpanded('sub-' + i + '-' + j)"
                    >
                      <p class="medium">
                        <input
                          type="checkbox"
                          [(ngModel)]="branchChecks[i]"
                          (click)="checkedAllBranchFilter(branch.id, i)"
                        />
                        {{ branch.name }}
                      </p>
            
                      <a
                        class="uk-accordion-title medium"
                        role="button"
                        (click)="toggleAccordion($event, 'sub-' + i + '-' + j)"
                      ></a>
            
                      <!-- Sub-branch content visibility -->
                      <div class="uk-accordion-content" [class.hidden]="!isContentVisible('sub-' + i + '-' + j)">
                        <small
                          class="medium branche"
                          *ngFor="let subDetail of branch.branch_sub_branches; let k = index"
                        >
                          <input
                            type="checkbox"
                            [(ngModel)]="subBranchChecks[branch.id][j]"
                            [checked]="subBranchChecks[branch.id][j]"
                            (click)="checkSubBranch(branch.id, j)"
                          />
                          {{ subDetail.name }}
                        </small>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            
              <!-- Parent Accordion for Brands -->
              <li [class.uk-open]="isExpanded('brands')" class="brand-items">
                <a
                  class="uk-accordion-title medium main"
                  role="button"
                  (click)="toggleAccordion($event, 'brands')"
                >
                  {{ "Shop.Brand" | translate }}
                </a>
            
                <!-- Brand Content Visibility -->
                <div class="uk-accordion-content" [class.hidden]="!isContentVisible('brands')">
                  <p class="medium branches" *ngFor="let brand of brands; let i = index">
                    <input
                      type="checkbox"
                      (click)="filterBy(brand.id, brandsChecks)"
                      [(ngModel)]="brandsChecks[i]"
                      [checked]="brandsChecks[i]"
                    />
                    {{ brand.name }}
                  </p>
                </div>
              </li>
            </ul>
            
            
            <div class="button">
              <button routerLink="/contact-us" class="primary-btn">
                {{ "Home.request" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 s-mt-1 text-center" *ngIf="isLoading">
        <app-forms-loading-spinner></app-forms-loading-spinner>
      </div>
      <div
        class="col-xl-9 s-mt-1"
        *ngIf="!isLoading && productsContent.results"
      >
        <div class="row">
          <div
            class="col-lg-4 col-6" 
            *ngFor="let productItem of productsContent.results | keyvalue"
          >
            <app-product-item [product]="productItem.value"></app-product-item>
          </div>
          <div
            class="s-mt-2 text-center meduim"
            *ngIf="productsContentExists === 0"
          >
            <h4 class="regular">{{ "Cart.No" | translate }}</h4>
          </div>


          <div *ngIf="PaginateisLoading">
            <app-loading-screen></app-loading-screen>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div
  *ngIf="productsContent && productsContent.next"
  class="search-results"
  infinite-scroll
  (scrolled)="onScrollDown($event)"
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="0"
>

</div>
