@import '../../../../../assets/styles/base/colors.scss';
@import '../../../../../assets/styles/base/variables.scss';
@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

.devices-body {
  .filter-fixed{
    // position: fixed;
    // top: 70%;
    // width: 100%;
  }
  .button{
    @include vCenter;
    .primary-btn{
      display: flex;
    justify-content: center;
      // padding: 0.5rem 2rem !important;
    }
  }
  a:hover {
    color: red;
  }

  .fliters-container {
    padding: 1vw 0.5vw;

    .clear {
      font-size: 14px;
      cursor: pointer;
    }

    .filters {
      a {
        text-decoration: none;
      }

      input {
        width: 1rem;
        accent-color: $red;
        margin-right: 0.5vw;
      }

      .uk-accordion-title::before {
        width: 1.5rem;
        height: 1.5rem;
      }

      .uk-accordion-title {
        font-size: clamp(13px, 2VW, 18px);
      }

      .Branches-title {
        // padding-top: 0.5vw !important;
      }

      .main {
        background-color: $regularGray;
        padding: 2vw 1.5vw;

      }

      .uk-accordion-content {

        p,
        small {
          @include hCenter;
          justify-content: start;
          padding-left: 0.5vw;

        }
      }

      .branches {
        margin-bottom: 0.75vw !important;
        padding-left: 0.5vw;
        position: relative;

        // .uk-open>.uk-accordion-title::before {
        // margin-top: -0.2rem !important;
        // a {
        //   position: absolute;
        //   right: 0;
        //   top: 3% !important;
        // }
        // }

        // .uk-accordion-title::before  {
        //   margin-top: -0.2rem !important;

        // }
        .uk-accordion-title::before {
          height: 1rem;
        }
        a {
          position: absolute;
          right: 0;
          top: 0 ;
        }


        small {
          font-size: 13px;
        }

      }

    }


  }
}

.search-results {
  height: 25rem;
  overflow: scroll;
}

// responsive

@media only screen and (max-width : 767px) {
  .devices-body {
    .fliters-container {
      .filters {
        .uk-accordion-title {
          margin-bottom: 5px;
        }

        input {
          width: 19px;
        }
      }
    }

    .branches {


     



    }
  }
}
