<section
  class="login auth nav-margin"
  style="background-image: url(assets/imgs/auth-bg.png)"
>
  <div class="auth-layout"></div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-8 col-md-10">
        <div class="form-content">
          <div class="logo">
            <svg
              [routerLink]="['']"
              xmlns="http://www.w3.org/2000/svg"
              width="112"
              height="69"
              viewBox="0 0 112 69"
            >
              <path
                id="Path_50"
                data-name="Path 50"
                d="M19.782,24.587h9.549V33l8.319-8.417H47.765L37.65,34.991,47.765,55.7H37.554L29.331,37.166V55.7H19.782Zm49.63,16.456-5.1,5.3-4.822-5.3V55.7H50.128V24.587h9.358v5.675l4.822,5.674,5.1-5.674V24.587H79.528V42.131L103.255,8.18l-3.072-.425L109.873,0,106.9,11.632l-1.8-2.27L94.322,24.587h8.366l9.265,11.873H102.31l-2.458-2.888H95.315L90.777,40.1l4.632,6.62h4.537l2.459-3.044H112L102.688,55.7H91.912L82.6,42.415l-3.073,4.208V55.7s-4.68-.048-8.035,0c-4,4.539-16.389,16.1-41.406,12.672C7.609,65.3.828,50.437.072,43.975-1.1,28.339,12.1,17.391,30.843,14.28c19.311-2.854,30.238,5.674,33.465,9.551a35.6,35.6,0,0,0-20.514-8.038c-7.745-.484-18.879.447-28.265,8.794-7.3,6.491-9.7,15.134-7,23.171C13.946,63.839,31.93,66.53,36.326,67.05A38.891,38.891,0,0,0,69.413,54.283Z"
                transform="translate(0 0.001)"
                fill="#e4021b"
              />
            </svg>

            <h3 class="s-mt-1" *ngIf="!userMsg">
              {{ "reset.reser-header" | translate }}
            </h3>
            <p class="s-mt-1 reset-description" *ngIf="!userMsg">
              {{ "reset.reser-title" | translate }}
            </p>
          </div>

          <div class="text-center" *ngIf="isLoading">
            <app-forms-loading-spinner></app-forms-loading-spinner>
          </div>
          <div class="row justify-content-center" *ngIf="!isLoading">
            <div class="col-xl-7 col-lg-8 col-md-10" *ngIf="!userMsg">
              <form
                [formGroup]="resetPassword"
                (ngSubmit)="resetUserPassword()"
              >
                <div class="input-container">
                  <label> {{ "Create_Account.mobile" | translate }} </label>
                  <input type="tel" formControlName="phone" />
                  <div
                    *ngIf="
                      formContarols['phone']?.invalid &&
                      formContarols['phone']?.touched
                    "
                  >
                    <span
                      class="errors"
                      *ngIf="formContarols['phone']?.errors?.['required']"
                    >
                      {{ "Contact_Us.V_Phone_R" | translate }}
                    </span>
                    <span
                      class="errors"
                      *ngIf="formContarols['phone']?.errors?.['pattern']"
                    >
                      {{ "Contact_Us.V_phone_11" | translate }}</span
                    >
                    <span
                      class="errors"
                      *ngIf="formContarols['phone']?.errors?.['checkPhone']"
                    >
                      {{ "Contact_Us.V_phone_01" | translate }}
                    </span>
                  </div>
                </div>

                <button
                  type="submit"
                  class="primary-btn"
                  [disabled]="resetPassword.invalid"
                >
                  {{ "reset.send" | translate }}
                </button>
                <a
                  class="red navigate"
                  *ngIf="!userMsg"
                  [routerLink]="['../login']"
                >
                  {{ "login.login-header" | translate }}</a
                >
              </form>
            </div>
            <h3 class="text-center s-mt-1" *ngIf="userMsg">
              {{ "reset.check" | translate }}
            </h3>
            <p *ngIf="userMsg" class="text-center s-mt-1 alert-success">
              {{ "reset.message" | translate }}
            </p>
            <a class="red navigate" *ngIf="userMsg" [routerLink]="['../login']">
              {{ "login.login-header" | translate }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
