<div class="product-item">
  <div class="product-descraption">
    <div>
      <img
        [src]="imgUrl + product.main_image"
        alt=""
        routerLink="/products/details/{{ product.type }}/{{ product.id }}"
      />
    </div>
    <div class="text-descraption" *ngIf="iconClose">
      <div class="d-flex align-items-center justify-content-between s-mt-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          class="s-mt-1"
          (click)="togglePointPrice()"
        >
          <g
            id="Group_585"
            data-name="Group 585"
            transform="translate(-1381 -1077)"
          >
            <circle
              id="Ellipse_51"
              data-name="Ellipse 51"
              cx="21"
              cy="21"
              r="21"
              transform="translate(1381 1077)"
              fill="#fff"
            />
            <path
              id="Icon_awesome-info"
              data-name="Icon awesome-info"
              d="M.81,17.174h.81V11.326H.81a.81.81,0,0,1-.81-.81V8.583a.81.81,0,0,1,.81-.81H5.344a.81.81,0,0,1,.81.81v8.592h.81a.81.81,0,0,1,.81.81v1.934a.81.81,0,0,1-.81.81H.81a.81.81,0,0,1-.81-.81V17.984A.81.81,0,0,1,.81,17.174ZM3.886,0A2.915,2.915,0,1,0,6.8,2.915,2.915,2.915,0,0,0,3.886,0Z"
              transform="translate(1398.114 1087.636)"
              fill="#e4021b"
            />
          </g>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          class="s-mt-1"
          (click)="iconCloseHover()"
          aria-label="Close"
        >
          <g
            id="Group_592"
            data-name="Group 592"
            transform="translate(-402 -434)"
          >
            <g
              id="Group_590"
              data-name="Group 590"
              transform="translate(-979 -643)"
              opacity="0.41"
            >
              <circle
                id="Ellipse_51"
                data-name="Ellipse 51"
                cx="21"
                cy="21"
                r="21"
                transform="translate(1381 1077)"
                fill="#b5b5b5"
              />
            </g>
            <g
              id="Group_591"
              data-name="Group 591"
              transform="translate(2132.863 1526.863)"
            >
              <line
                id="Line_49"
                data-name="Line 49"
                x2="13.274"
                y2="13.274"
                transform="translate(-1716.5 -1078.5)"
                fill="none"
                stroke="#c9c9c9"
                stroke-width="3"
              />
              <line
                id="Line_50"
                data-name="Line 50"
                x1="13.274"
                y2="13.274"
                transform="translate(-1716.5 -1078.5)"
                fill="none"
                stroke="#c9c9c9"
                stroke-width="3"
              />
            </g>
          </g>
        </svg>
      </div>
      <div
        class="d-flex align-items-end justify-content-end"
        *ngIf="!iconClose"
        class="iconClose"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          class="s-mt-1"
          (click)="togglePointPrice()"
        >
          <g
            id="Group_585"
            data-name="Group 585"
            transform="translate(-1381 -1077)"
          >
            <circle
              id="Ellipse_51"
              data-name="Ellipse 51"
              cx="21"
              cy="21"
              r="21"
              transform="translate(1381 1077)"
              fill="#fff"
            />
            <path
              id="Icon_awesome-info"
              data-name="Icon awesome-info"
              d="M.81,17.174h.81V11.326H.81a.81.81,0,0,1-.81-.81V8.583a.81.81,0,0,1,.81-.81H5.344a.81.81,0,0,1,.81.81v8.592h.81a.81.81,0,0,1,.81.81v1.934a.81.81,0,0,1-.81.81H.81a.81.81,0,0,1-.81-.81V17.984A.81.81,0,0,1,.81,17.174ZM3.886,0A2.915,2.915,0,1,0,6.8,2.915,2.915,2.915,0,0,0,3.886,0Z"
              transform="translate(1398.114 1087.636)"
              fill="#e4021b"
            />
          </g>
        </svg>
      </div>
      <div class="data">
        <p
          class="medium text-spacing"
          *ngIf="!pointPrice"
          routerLink="/products/details/{{ product.type }}/{{ product.id }}"
        >
          {{ product.description | slice : 0 : 60 }} ....
        </p>

        <!-- <p
          routerLink="/products/details/{{ product.type }}/{{ product.id }}"
          class="medium"
          *ngIf="pointPrice"
        >
          {{ "Products.Points" | translate }} : {{ product.point_price }}
          {{ "Cart.currency" | translate }}
        </p> -->

     
        <a
          class="white medium product-hover"
          routerLink="/products/details/{{ product.type }}/{{ product.id }}"
        >
          {{ "Products.view-product" | translate }}
        </a>
  
      </div>
    </div>
    <div class="text-descraption" *ngIf="!iconClose">
      <div
        class="d-flex align-items-start justify-content-start s-mt-2"
        class=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          class="s-mt-1"
          (click)="togglePointPrice()"
        >
          <g
            id="Group_585"
            data-name="Group 585"
            transform="translate(-1381 -1077)"
          >
            <circle
              id="Ellipse_51"
              data-name="Ellipse 51"
              cx="21"
              cy="21"
              r="21"
              transform="translate(1381 1077)"
              fill="#fff"
            />
            <path
              id="Icon_awesome-info"
              data-name="Icon awesome-info"
              d="M.81,17.174h.81V11.326H.81a.81.81,0,0,1-.81-.81V8.583a.81.81,0,0,1,.81-.81H5.344a.81.81,0,0,1,.81.81v8.592h.81a.81.81,0,0,1,.81.81v1.934a.81.81,0,0,1-.81.81H.81a.81.81,0,0,1-.81-.81V17.984A.81.81,0,0,1,.81,17.174ZM3.886,0A2.915,2.915,0,1,0,6.8,2.915,2.915,2.915,0,0,0,3.886,0Z"
              transform="translate(1398.114 1087.636)"
              fill="#e4021b"
            />
          </g>
        </svg>
      </div>
      <div class="data">
        <p class="medium description" *ngIf="!pointPrice">
          {{ product.description | slice : 0 : 60 }} ....
        </p>

        <a
          class="white medium product-hover"
          routerLink="/products/details/{{ product.type }}/{{ product.id }}"
        >
          {{ "Products.view-product" | translate }}
        </a>
      </div>
    </div>
  </div>

  <p
    *ngIf="product.title.length < 20"
    class="text-center medium text-spacing textOne"
  >
    {{ product.title }}
  </p>
  <div class="marquee bluebox" *ngIf="product.title.length >= 20">
    <span>
      <p
      class="text-center medium text-spacing textOne"
      routerLink="/products/details/{{ product.type }}/{{ product.id }}"
      >
        {{ product.title }}
      </p>
    </span>
  </div>

  <!-- <div class="d-flex justify-content-center">
    <span
      [ngClass]="{ 'old-price': product.sale_price }"
      class="gray medium price"
      >{{ product.price }} {{ "Cart.currency" | translate }}</span
    >
    <span class="price red medium" *ngIf="product.sale_price"
      >{{ product.sale_price }} {{ "Cart.currency" | translate }}</span
    >
  </div> -->
  <div class="product-item">
    <h2>{{ product.name }}</h2>
    <p class="product-price text-center">
      <span *ngIf="product.sale_percentage || product.sale_price">
        <span class="original-price" *ngIf="product.sale_price && product.price !== product.sale_price">
          <del>{{ product.price.toFixed(2) }} EGP</del>
        </span>
        <span class="discounted-price">
           {{ getDisplayPrice(product).toFixed(2) }} EGP
        </span>
      </span>
      <span *ngIf="!product.sale_percentage && !product.sale_price">
        {{ product.price.toFixed(2) }} EGP
      </span>
    </p>
    <p class="discount-label text-center">
      {{ getDiscountLabel(product) }}
    </p>
</div>

  
  
  

  <div class="d-flex justify-content-center">
    <button
      class="primary-btn"
      (click)="addToCartOrModal(product)"
      *ngIf="product.stock > 0; else outOfStock"
    >
      {{ "Products.Add-to-cart" | translate }}
    </button>
  </div>
  <ng-template #outOfStock>
    <button disabled class="primary-btn">
      {{ "Products.out-of-stock" | translate }}
    </button>
  </ng-template>
  <div class="wishlist-container d-flex justify-content-center">
    <a
      (click)="addProductToWishlist(product.id)"
      class="wishlist-a gray medium"
      *ngIf="!product.is_wishlist"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13.5"
        height="12.203"
        viewBox="0 0 13.5 12.203"
      >
        <path
          id="heart"
          d="M12.623,3.923a3.157,3.157,0,0,0-4.466,0l-.609.609L6.94,3.923A3.158,3.158,0,0,0,2.474,8.39L3.082,9l4.466,4.466L12.015,9l.609-.609a3.157,3.157,0,0,0,0-4.466Z"
          transform="translate(-0.799 -2.011)"
          fill="none"
          stroke="#777"
          stroke-linejoin="round"
          stroke-width="1.5"
        />
      </svg>
      {{ "Products.Add-to-wishlist" | translate }}
    </a>
    <a
      (click)="removeWishlist(product.id)"
      class="wishlist-a gray medium"
      *ngIf="product.is_wishlist"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="10.466"
        viewBox="0 0 12 10.466"
      >
        <path
          id="heart"
          d="M12.623,3.923a3.157,3.157,0,0,0-4.466,0l-.609.609L6.94,3.923A3.158,3.158,0,0,0,2.474,8.39L3.082,9l4.466,4.466L12.015,9l.609-.609a3.157,3.157,0,0,0,0-4.466Z"
          transform="translate(-1.549 -2.998)"
          fill="#e4021b"
        />
      </svg>
      {{ "Checkout.R_Wishlist" | translate }}
    </a>
  </div>
  <span
    class="tooltiptext"
    routerLink="/products/details/{{ product.type }}/{{ product.id }}"
    >{{ product.title }}</span
  >
</div>

<!-- This is the modal -->

<div id="modal-example-{{ product.id }}" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-button uk-button-default uk-modal-close" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30.849"
        height="30.849"
        viewBox="0 0 30.849 30.849"
      >
        <path
          id="Icon_metro-cancel"
          data-name="Icon metro-cancel"
          d="M17.995,1.928A15.424,15.424,0,1,0,33.419,17.352,15.424,15.424,0,0,0,17.995,1.928Zm0,27.956A12.532,12.532,0,1,1,30.527,17.352,12.532,12.532,0,0,1,17.995,29.885ZM22.815,9.64l-4.82,4.82-4.82-4.82-2.892,2.892,4.82,4.82-4.82,4.82,2.892,2.892,4.82-4.82,4.82,4.82,2.892-2.892-4.82-4.82,4.82-4.82Z"
          transform="translate(-2.571 -1.928)"
          fill="#e4021b"
        />
      </svg>
    </button>

    <div class="container-fluid s-mt-2">
      <div class="row">
        <div class="col-md-6 s-mt-2">
          <div
            class="img-container"
            [ngStyle]="{
              'background-image': 'url(' + imgUrl + product.main_image + ')'
            }"
          >
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <h4 class="red semi-bold s-mt-2">{{ product.title }}</h4>
            <p class="gray medium s-mt-1">
              {{ "Products.description" | translate }}:
            </p>
            <h5 class="black regular s-mt-1">
              {{ product.description }}
            </h5>
            <div
              class="dropdown uk-inline s-mt-2"
              *ngIf="product.product_item?.length"
            >
              <button class="blue regular btn-dropdown" type="button">
                <span *ngIf="!selectedItem">
                  {{ "Products.select_item" | translate
                  }}{{ product.product_item_title | lowercase }} :
                </span>
                <span *ngIf="selectedItem">
                  {{ selectedItem.species }}
                </span>
                <svg
                  *ngIf="selectedItem"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14.577"
                  height="8.335"
                  viewBox="0 0 14.577 8.335"
                >
                  <path
                    id="Icon_ionic-ios-arrow-down"
                    data-name="Icon ionic-ios-arrow-down"
                    d="M13.479,17.069l5.512-5.516a1.037,1.037,0,0,1,1.471,0,1.05,1.05,0,0,1,0,1.476l-6.245,6.25a1.04,1.04,0,0,1-1.437.03L6.491,13.032a1.042,1.042,0,0,1,1.471-1.476Z"
                    transform="translate(20.765 19.581) rotate(180)"
                    fill="#09264a"
                  />
                </svg>
                <svg
                  *ngIf="!selectedItem"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14.577"
                  height="8.335"
                  viewBox="0 0 14.577 8.335"
                >
                  <path
                    id="Icon_ionic-ios-arrow-down"
                    data-name="Icon ionic-ios-arrow-down"
                    d="M13.479,17.069l5.512-5.516a1.037,1.037,0,0,1,1.471,0,1.05,1.05,0,0,1,0,1.476l-6.245,6.25a1.04,1.04,0,0,1-1.437.03L6.491,13.032a1.042,1.042,0,0,1,1.471-1.476Z"
                    transform="translate(-6.188 -11.246)"
                    fill="#050605"
                  />
                </svg>
              </button>
              <!-- <button class=" black regular btn-dropdown" type="button" *ngIf="selectedItem">
                {{ selectedItem.species}}
                <svg xmlns="http://www.w3.org/2000/svg" width="14.577" height="8.335" viewBox="0 0 14.577 8.335">
                  <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down"
                    d="M13.479,17.069l5.512-5.516a1.037,1.037,0,0,1,1.471,0,1.05,1.05,0,0,1,0,1.476l-6.245,6.25a1.04,1.04,0,0,1-1.437.03L6.491,13.032a1.042,1.042,0,0,1,1.471-1.476Z"
                    transform="translate(-6.188 -11.246)" fill="#050605" />
                </svg>

              </button> -->
              <div id="drop" uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                  <li
                    class="uk-active"
                    *ngFor="let item of product.product_item"
                    (click)="selectProductItem(item)"
                  >
                    <a class="regular blue">{{ item.species }}</a>
                  </li>
                </ul>
              </div>
              <h5 class="red" *ngIf="selectItemError">
                {{ "Products.selectItemError" | translate }}
              </h5>
            </div>
            <p class="gray medium s-mt-2">
              {{ "Products.price" | translate }} : {{ product.price }}
              {{ "Cart.currency" | translate }}
            </p>
            <div
              class="d-flex justify-content-between align-items-center s-mt-1 btn-container"
            >
              <button class="primary-btn" (click)="addToCart(product)">
                {{ "Products.Add-to-cart" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
