@import "../../../../assets/styles/base/colors.scss";
@import "../../../../assets/styles/base/variables.scss";

.article-item {
  .article-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    align-items: flex-start;

    &:hover {
      transform: scale(1.03);
    }

    .img-container {
      width: 100%; // Full width
      min-height: 40vh !important; 
      padding-top: 100%; // Make it a square
      background-size: cover;
      background-position: center;
      position: relative;

      // .date-container {
      //   position: absolute;
      //   top: 10px; // Adjust as needed
      //   right: 10px; // Adjust as needed

      //   .circle-date {
      //     border-radius: 50%;
      //     background-color: $red;
      //     width: 50px;
      //     height: 50px;
      //     @include flexCenter;
      //     text-align: center;
      //     color: white;

      //     span {
      //       font-size: 12px;
      //       white-space: break-spaces;
      //       text-align: left;
      //     }
      //   }
      // }
    }

    .info-article {
      padding: 15px;

      .article-title {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 10px;
        color: $white;

      }

      .article-description {
        font-size: 1em;
        // color: #666;
        color: $white;
        margin-bottom: 10px;
      }

      .user-container {
        font-size: 0.9em;
        // color: #333;
        color: $white;
        margin-bottom: 10px;
        margin-top: 13px;

        .article-writer,
        .article-department {
          strong {
            // color: #333;
            color: $white;
          }
        }
      }

      .pdf-link {
        color: #007bff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


//responsive
// ipad
@media screen and(min-width:768px) and (max-width:1024px) {
  .article-item {
    .article-container {
      .img-container {
        .date-container {
          padding: 1vw;
        }
      }
    }
  }
}


  
// Mobile
@media screen and (max-width: 767px) {
  .article-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .img-container {
      width: 100%;
      height: 200px; /* Adjust to make it near-square */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover; /* Ensure the image scales to fit the container */
    }

    .info-article {
      padding: 10px;
      flex-grow: 1; /* Ensures the text section grows if needed */
      
      .article-title {
        font-size: 16px;
        line-height: 1.2;
      }

      .user-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .article-writer, .article-department {
          font-size: 14px;
          display: inline-block;
        }

        strong {
          font-weight: bold;
          margin-right: 5px;
        }

        .article-writer, .article-department {
          margin-top: 5px;
        }
      }
    }
  }
}

